<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Manage Orders</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Category Name</th>
            <th>Product name</th>
            <th>UOM</th>
            <th>Old Price</th>
            <th>New Price</th>
            <th>Product Image</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Drinks</td>
            <td>7 up</td>
            <td>1 littr</td>
            <td>100 tk</td>
            <td>110 tk</td>
            <td>Image</td>
            <td>
              <button class="btn btn-warning" 
                     style="margin-left: 10px">Update</button>
              <button class="btn btn-danger" 
                     style="margin-left: 10px">Delete</button>
                <button class="btn btn-info" 
                     style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>